/* Estilo do cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    
}

.logo img{
    max-width: 200px;
}

/* Navegação */
.navbar {
    flex: 1;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Botão de ação */
.cta-button {
    padding: 10px 20px;
    flex: inherit;
}

.cta-button:hover {
    background-color: #0056b3;
}
